.ticket-info-priority,
.ticket-info-final-priority {
    padding: 0.2em 0.6em;
    background-color: #ddd;
    border-left: 0.6em solid #999;
}

.collection-as-table .ticket-info-priority,
.collection-as-table .ticket-info-final-priority {
    display: block;
}

.ticket-info-priority.normal,
.ticket-info-final-priority.normal {
    background-color: #f0ffe1;
    border-color: #316531;
}

.ticket-info-priority.medium,
.ticket-info-final-priority.medium {
    background-color: #ffedcf;
    border-color: #ffbf00;
}

.ticket-info-priority.high,
.ticket-info-final-priority.high {
    background-color: #ffc8c8;
    border-color: #bb3322;
}

.ticket-info-priority.escalation,
.ticket-info-final-priority.escalation {
    background-color: #ffbbff;
    border-color: #ff00ff;
}

/* special print styles */
@media print {
    .ticket-info-priority,
    .ticket-info-final-priority {
        padding: 0;
        border: none;
    }
}
